/* linechart.css */
.default-color0.chart-series-line { 
    -fx-stroke: #3EC3A4; /* Red color */ 
}

.chart-line-symbol {
    -fx-background-color: #B6C4CF, white; /* Example color (Blue) */
    -fx-background-radius: 5px;
    -fx-padding: 3px;
}

.chart-legend-item {
    -fx-font-size: 12px;
    -fx-text-fill: #000000;
}